{
  "presets": ["es2015"],
  "plugins": [
    ["module-resolver", {
      "root": ["./src"],
      "alias": {
        "@models": "./src/models",
        "@routes": "./src/routes",
        "@utils": "./src/utils"
      }
    }]
  ]
}